*

# Included to the final package
!android/src/**/*
!android/build.gradle
!android/gradle.properties
!ios/**/*
ios/RadioPlayer.xcodeproj/project.xcworkspace
ios/RadioPlayer.xcodeproj/xcuserdata
!lib/**/*
!package.json
!react-native-radio-player.podspec
!src/index.tsx
!LICENSE
!README